<div class="btn-group">
  <a 
    class="btn btn-outline-info btn-sm"
    [routerLink]="['/performance/create']"
    [queryParams]="{ artist_id: artist.id }"
  >
    Create Performance
  </a>
</div>

<h1>
  {{ artist?.name }}
  <span *ngIf="artist && artist.abbreviation">
    ({{ artist?.abbreviation }})
  </span>
  <h6 *ngIf="artist?.officialUrl">        
    <a href="{{artist.officialUrl}}" class="cursor-outbound">
      {{ artist.officialUrl }}
    </a>
  </h6>


</h1>

<div aria-label="Alphabet" *ngIf="! toggleArtistLinksFlag && ! toggleAuditFlag">
  <button *ngFor="let y of artist._computed.years"
    (click)="this.year = y; loadYear();"
    [ngClass]="{
      'btn-primary': y == year
    }"
  >
    {{ y }}
  </button>
</div>

<!-- Performance Table -->
<div class="row" *ngIf="halPerformance && ! toggleArtistLinksFlag && ! toggleAuditFlag">
  <div class="col-md-12">
    <app-performance-table [halResponse]="halPerformance"></app-performance-table>
  </div>
</div>

<!-- ArtistLinks -->
<div class="row" *ngIf="toggleArtistLinksFlag">
  <div class="col-md-12">
    <app-link-table [halLink]="artist._embedded.artistLink._links.self" [entityType]="'artist'"></app-link-table>
  </div>
</div>

<!-- Audit -->
<div class="row" *ngIf="toggleAuditFlag">
  <div class="col-md-12">
    <app-audit-table [halLink]="artist._links.audit" [entityType]="'artist'"></app-audit-table>
  </div>
</div>
