<div class="row" *ngIf="artist">
  <div class="col-md-10">
    <h1>
      {{ artist?.name }}
      <span *ngIf="artist && artist.abbreviation">
        ({{ artist?.abbreviation }})
      </span>
      <h6 *ngIf="artist?.officialUrl">        
        <a href="{{artist.officialUrl}}" class="cursor-outbound">
          {{ artist.officialUrl }}
        </a>
      </h6>
    

    </h1>

    <div aria-label="Alphabet" *ngIf="! toggleArtistLinksFlag && ! toggleAuditFlag">
      <button *ngFor="let y of artist._computed.years"
        (click)="this.year = y; loadYear();"
        [ngClass]="{
          'btn-primary': y == year
        }"
      >
        {{ y }}
      </button>
    </div>
  </div>

  <div class="col-md-2 text-right" *ngIf="artist">
    <div class="btn-group">
      <div ngbDropdown placement="bottom-right" class="d-inline-block btn-group" style="padding-right: 1em;">
        <button class="btn btn-outline-primary" id="performanceActionsDropdown" ngbDropdownToggle>Actions</button>
        <div ngbDropdownMenu aria-labelledby="performanceActionsDropdown">
          <button class="dropdown-item"
            [routerLink]="['/performance/create']"
            [queryParams]="{ artist_id: artist.id }"
          >
            Create Performance
          </button>
          <button class="dropdown-item">Create Artist Link</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Performance Table -->
<div class="row" *ngIf="halPerformance && ! toggleArtistLinksFlag && ! toggleAuditFlag">
  <div class="col-md-12">
    <app-performance-table [halResponse]="halPerformance"></app-performance-table>
  </div>
</div>

<!-- ArtistLinks -->
<div class="row" *ngIf="toggleArtistLinksFlag">
  <div class="col-md-12">
    <app-link-table [halLink]="artist._embedded.artistLink._links.self" [entityType]="'artist'"></app-link-table>
  </div>
</div>

<!-- Audit -->
<div class="row" *ngIf="toggleAuditFlag">
  <div class="col-md-12">
    <app-audit-table [halLink]="artist._links.audit" [entityType]="'artist'"></app-audit-table>
  </div>
</div>
