<div class="row" *ngIf="title">
    <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
        (click)="toggleFlag()"
      >
        {{ title }}
      </div>
  </div>
</div>

<div class="row" *ngIf="(! title || flag) && halResponse">
  <div class="col-md-12 text-right" style="padding-top: 1em;">
    <span *ngIf="halResponse">
      Page {{ halResponse.page }} of {{ halResponse.page_count }}
    </span>
    <div class="btn-group" role="group" aria-label="Pagination">
      <button
        *ngFor="let link of halResponse._links | keyvalue "
        (click)="loadLink(link.value)"
        type="button"
        class="btn btn-primary">
        {{ link.key }}
      </button>
    </div>
  </div>
</div>

<table class="table table-striped" *ngIf="(! title || flag) && halResponse">
  <thead>
    <tr>
      <th>
        <div class="container">
          <div class="row cursor-sortable">
            <div (click)="sort('performanceDate')" class="col-md-2">
              Date
            </div>
            <div (click)="sort('name')" class="col-md-3" title="Field Name: name">
              Artist Name
            </div>
            <div (click)="sort('venue')" class="col-md-3" title="Field Name: venue">
              Venue
            </div>
            <div (click)="sort('city')" class="col-md-3" title="Field Name: city">
              City
            </div>
            <div (click)="sort('state')" class="col-md-1" title="Field Name: state">
              State
            </div>
          </div>
        </div>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let performance of halResponse._embedded.performance">
      <td>
        <div class="container">
          <div class="row" (click)="performance.expand = ! performance.expand">
            <div class="col-md-2">
              <a [routerLink]="['/db/performance', performance.id]">{{ performance.performanceDate }}</a>
            </div>
            <div class="col-md-3 cursor-clickable" (click)="toggle(performance)">
              <a
                [routerLink]="['/db/artist', performance._embedded.artist.id]"
                [queryParams]="{year: performance.year}"
              >
                {{ performance._embedded.artist.name }}
              </a>
            </div>
            <div class="col-md-3 cursor-clickable" (click)="toggle(performance)" asdsdafasdf>
              {{ performance.venue }}
            </div>
            <div class="col-md-3 cursor-clickable" (click)="toggle(performance)">
              {{ performance.city }}
            </div>
            <div class="col-md-1 cursor-clickable" (click)="toggle(performance)">
              {{ performance.state}}
            </div>
          </div>
          <div class="row" *ngIf="isToggled[performance.id]">
            <div class="col-md-4">
              <span class="badge badge-secondary">Set 1</span>
              <br>
              <span class="etreedb-nl2br">{{ performance.set1 | ltgt }}</span>
            </div>
            <div class="col-md-4">
              <span class="badge badge-secondary">Set 2</span>
              <br>
              <span class="etreedb-nl2br">{{ performance.set2 | ltgt }}</span>
            </div>
            <div class="col-md-4">
              <span class="badge badge-secondary">Set 3</span>
              <br>
              <span class="etreedb-nl2br">{{ performance.set3 | ltgt }}</span>
            </div>
          </div>
          <div class="row" *ngIf="isToggled[performance.id]">
            <div class="col-md-6">
              <span class="badge badge-secondary">Description / Comments</span>
              <br>
              <span class="etreedb-nl2br">{{ performance.description | ltgt }}</span>
            </div>
            <div class="col-md-6">
              <span class="badge badge-secondary">Title</span>
              <br>
              <span class="etreedb-nl2br">{{ performance.title }}</span>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
