<div class="container" *ngIf="performance && performance.id">
  <div class="row">
    <div class="col-md-9">
      <h1>
        <a [routerLink]="['/artist', performance._embedded.artist.id]" [queryParams]="{year: performance.year}">
          {{ performance._embedded.artist.name }}
        </a>
        -
        {{ performance.performanceDate }}
      </h1>
    </div>
    <div class="col-md-3 text-right">
      <div class="btn-group">
        <div ngbDropdown placement="bottom-right" class="d-inline-block btn-group">
          <button class="btn btn-outline-primary" id="performanceActionsDropdown" ngbDropdownToggle>Actions</button>

          <div ngbDropdownMenu aria-labelledby="performanceActionsDropdown">
            <button class="dropdown-item">View Performance Group</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item">Add to Collection</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item"
              [routerLink]="['/performance/create']"
              [queryParams]="{ artist_id: performance._embedded.artist.id }"
            >
              Create Performance
            </button>
            <button class="dropdown-item"
              [routerLink]="['/source/create']"
              [queryParams]="{ performance_id: performance.id }"
            >
              Create Source
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item">Submit Correction</button>
            <button class="dropdown-item">Submit Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span class="badge badge-secondary">Venue</span>
      <h4>
        {{ performance.venue }}
      </h4>
    </div>
    <div class="col-md-4">
      <span class="badge badge-secondary">City</span>
      <h4>
        {{ performance.city }}
      </h4>
    </div>
    <div class="col-md-4">
      <span class="badge badge-secondary">State</span>
      <h4>
        {{ performance.state }}
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 etreedb-nl2br" *ngIf="performance.set1.trim()">
      <span class="badge badge-secondary" >Set 1</span>
      <br>
      {{ performance.set1 }}
    </div>
    <div class="col-md-4 etreedb-nl2br" *ngIf="performance.set2.trim()" >
      <span class="badge badge-secondary">Set 2</span>
      <br>
      {{ performance.set2 }}
    </div>
    <div class="col-md-4 etreedb-nl2br" *ngIf="performance.set3.trim()">
      <span class="badge badge-secondary">Set 3</span>
      <br>
      {{ performance.set3 }}
    </div>
  </div>
  <div class="row" *ngIf="performance.description.trim() && ! togglePerformanceLinksFlag && ! toggleAuditFlag">
    <div class="col-md-12 etreedb-nl2br" #viewport >
      <span class="badge badge-secondary">Description</span>
      <br>
      {{ performance.description }}
    </div>
  </div>
</div>

<!-- Sources Table -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary"
      (click)="toggleSourcesFlag = ! toggleSourcesFlag"
    >
      Sources
    </div>
    <app-source-table *ngIf="toggleSourcesFlag" [halLink]="performance._embedded.source._links.self"></app-source-table>
  </div>
</div>
  
<!-- Links Table -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary"
      (click)="togglePerformanceLinksFlag = ! togglePerformanceLinksFlag"
    >
      Performance Links
    </div>
    <app-link-table *ngIf="togglePerformanceLinksFlag" [halLink]="performance._embedded.performanceLink._links.self" [entityType]="'performance'"></app-link-table>
  </div>
</div>

<!-- Audit Table -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary"
      (click)="toggleAuditFlag = ! toggleAuditFlag"
    >
      Audit
    </div>
    <app-audit-table *ngIf="toggleAuditFlag" [halLink]="performance._links.audit" [entityType]="'performance'"></app-audit-table>
  </div>
</div>
