<app-performance-search></app-performance-search>

<div class="row" style="padding: 1em;">
  <div class="col-md-12">
    <h1>
      This website enables full text searching of live concert setlists.
    </h1>
  </div>
  <div class="col-md-4">
    <strong>Search within a specific field</strong>
    <br>
    <a href='/?search=name:"Grateful%20Dead"%20year:1995'>
      <i>name:"Grateful Dead" year:1995</i>
    </a>
    <br>
    <br>
    <strong>Available fields</strong>
    <ul>
      <li>performanceDate</li>
      <li>name (Artist)</li>
      <li>venue</li>
      <li>city</li>
      <li>state</li>
      <li>set1</li>
      <li>set2</li>
      <li>set3</li>
      <li>comment</li>
    </ul>
  </div>
  <div class="col-md-4">
    The search engine is Elasticsearch based on Lucene.
    This guide to 
    <a href=" https://lucene.apache.org/core/2_9_4/queryparsersyntax.html">
      Query Parser Syntax
    </a>
    gives all the available search criteria.
  </div>
  <div class="col-md-4">
    The search results are indexed periodically.  Adding a new 
    performance to etreedb.org will not show up in this index
    right away.
    <br>
    <br>
    Last indexed 2018-10-15 09:00:00
  </div>
</div>

