<div class="btn-group">
  <a
    class="btn btn-outline-info btn-sm"
    [routerLink]="['/source/edit', source.id]"
  >
    Edit Source
  </a>
</div>

<h1>
  <a
    [routerLink]="['/artist', source._embedded.performance._embedded.artist.id]"
    [queryParams]="{year: source._embedded.performance.year}">
    {{ source._embedded.performance._embedded.artist.name }}
  </a>
  -
  <a
  [routerLink]="['/performance', source._embedded.performance.id]"
  >
  {{ source._embedded.performance.performanceDate }}
  </a>
  <br>
  (source {{ source.id }})
</h1>

<div class="row" *ngIf="! source.isApproved">
  <div class="col-md-12">
    <div class="alert alert-danger">This source has not yet been approved by a source maintainer.</div>
  </div>
</div>


<div *ngIf="source">
  <span class="badge badge-secondary">Summary</span>
  <div class="etreedb-nl2br" [innerHtml]="[source.summary]"></div>
</div>

<hr>

<div clas="row" *ngIf="source && ! toggleSourceFlag && ! toggleAuditFlag && ! toggleSourceLinksFlag">
    <span class="badge badge-secondary">textdoc</span>
    <div class="etreedb-nl2br">
      {{ source.description }}
    </div>
</div>

<div class="row" *ngIf="source && ! toggleSourceFlag && ! toggleAuditFlag && ! toggleSourceLinksFlag">
  <div class="col-md-2">
    <span class="badge badge-secondary">Entered By</span>
    <br>
    <a href="/user/{{ source._embedded.user.username }}">
      {{ source._embedded.user.name }}
    </a>
  </div>
  <div class="col-md-2">
    <span class="badge badge-secondary">Date Circulated</span>
    <br>
    {{ source.circulationDate }}
  </div>
  <div class="col-md-2">
    <span class="badge badge-secondary">Date Created</span>
    <br>
    {{ source.createdAt.date }}
  </div>


  <div class="col-md-2">
    <span class="badge badge-secondary">Media Size (compressed)</span>
    <br>
    {{ source.mediaSize }}
    <br>
    <span class="badge badge-secondary">Media Size (uncompressed)</span>
    <br>
    {{ source.mediaSizeUncompressed }}
  </div>

  <div class="col-md-2">
    <span class="badge badge-secondary">WAV disk count</span>
    <br>
    {{ source.wavDiscCount }}
    <br>
    <span class="badge badge-secondary">Compressed disk count</span>
    <br>
    {{ source.shnDiscCount }}
  </div>

</div>

<!-- Comments -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary"
      (click)="toggleSourceChecksumFlag = ! toggleSourceChecksumFlag"
    >
      Source Checksums
    </div>
      <app-source-checksum-table *ngIf="toggleSourceChecksumFlag" [halLink]="source._embedded.sourceChecksum._links.self"></app-source-checksum-table>
    </div>
</div>

<!-- Comments -->
  <div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary"
        (click)="toggleSourceCommentsFlag = ! toggleSourceCommentsFlag"
      >
        Source Comments
      </div>
      <app-source-comment-table *ngIf="toggleSourceCommentsFlag" [halLink]="source._embedded.sourceComment._links.self"></app-source-comment-table>
      </div>
  </div>

<!-- Links -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary"
      (click)="toggleSourceLinksFlag = ! toggleSourceLinksFlag"
    >
      Source Links
    </div>
    <app-link-table *ngIf="toggleSourceLinksFlag" [halLink]="source._embedded.sourceLink._links.self" [entityType]="'source'"></app-link-table>
  </div>
</div>

<!-- User Performance -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleUserPerformancePost = ! toggleUserPerformancePost"
    >
        Users who own this Source
      </div>
      <app-user-performance-table *ngIf="toggleUserPerformancePost" [halLink]="source._embedded.userPerformance._links.self"></app-user-performance-table>
    </div>
</div>

<!-- Sources (all sources for this performance) -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary"
      (click)="toggleSourceFlag = ! toggleSourceFlag"
    >
      All Performance Sources
    </div>
    <app-source-table *ngIf="toggleSourceFlag" [halLink]="source._embedded.performance._embedded.source._links.self"></app-source-table>
  </div>
</div>  

<!-- Audit -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary"
      (click)="toggleAuditFlag = ! toggleAuditFlag"
    >
      Audit
    </div>
    <app-audit-table *ngIf="toggleAuditFlag" [halLink]="source._links.audit" [entityType]="'source'"></app-audit-table>
  </div>
</div>
