<app-browse-header></app-browse-header>

<div class="btn-group">
  <a
    [routerLink]="['/db/artist/create']"
    class="btn btn-outline-info btn-sm"
  >Create Artist</a>
</div>

<h1>
  Search Artists by Name
</h1>

<div role="group" aria-label="Alphabet">
  <button
    class="cursor-clickable"
    *ngFor="let character of alphabet()"
    [ngClass]="{
      'btn-primary': character === currentSearch
    }"
    (click)="search(character);"
    >
    {{ character }}
  </button>
</div>

<div class="row" style="padding-top: 1em; padding-bottom: 1em;">
  <div class="col-md-4">
      <input
      type="text"
      id="artist_lookup"
      class="form-control"
      [(ngModel)]="freetextSearch"
      (keyup)="submitSearch($event)"
      [ngbTypeahead]="lookup"
      tabindex="1"
      name="qu"
      spellcheck="false"
      autocapitalize="off"
      autocorrect="off"
      autocomplete="off"
      placeholder="Artist Name"
      placeholder="Search artist names"
    >
  </div>
  <div class="col-md-2">
    <button
      class="btn btn-primary"
      (click)="search('%' + freetextSearch)"
    >Search</button>
  </div>

  <div *ngIf="halArtist" class="col-md-6 text-right">
    <span>
      Page {{ halArtist.page }} of {{ halArtist.page_count }}
    </span>
    <app-pagination-links *ngIf="halArtist" [loadLink$]="loadLink$" [halLinks]="halArtist._links"></app-pagination-links>
  </div>
</div>

<div class="row" *ngIf="halArtist">
  <div class="col-md-4" *ngFor="let artist of halArtist._embedded.artist">
    <a [routerLink]="['/db/artist', artist.id]">
      {{ artist.name }}
    </a>
  </div>
</div>
