<div class="row">
  <div class="col-md-12">
    <h1>Creators by name</h1>
  </div>
</div>

<div role="group" aria-label="Alphabet">
  <button
    class="cursor-clickable"
    *ngFor="let character of alphabet()"
    [ngClass]="{
      'btn-primary': character === currentSearch
    }"
    (click)="search(character);"
    >
    {{ character }}
  </button>
</div>

<div class="row" style="padding-top: 1em; padding-bottom: 1em;">
  <div class="col-md-4">
      <input
      type="text"
      class="form-control"
      placeholder="Search Creator Names"
      [(ngModel)]="freetextSearch"
      [ngbTypeahead]="lookup"
      tabindex="1"
      name="qu"
      spellcheck="false"
      autocapitalize="off"
      autocorrect="off"
      autocomplete="off"
      id="creator_lookup"
      placeholder="Creator Name"
      (keyup)="submitSearch($event)"
    >
  </div>
  <div class="col-md-2">
    <button
      class="btn btn-primary"
      (click)="search('%' + freetextSearch)"
    >Search</button>
  </div>

  <div *ngIf="halCreator" class="col-md-6 text-right">
    <span>
      Page {{ halCreator.page }} of {{ halCreator.page_count }}
    </span>
    <div class="btn-group" role="group" aria-label="Pagination">
      <button
        *ngFor="let link of halCreator._links | keyvalue "
        (click)="loadLink(link.value)"
        type="button"
        class="btn btn-primary">
        {{ link.key }}
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="halCreator">
  <div class="col-md-4" *ngFor="let creator of halCreator._embedded.creator">
    <a [routerLink]="['/creator-detail', creator.id]">
      {{ creator.name }}
    </a>
  </div>
</div>

<br>

<!-- Internet Archive Identifers -->
<app-identifier-table title="Identifiers by Date Added" [halResponse]="dateAddedHalResponse"></app-identifier-table>

