<h1 *ngIf="performance">Add Link to 
  <a
    [routerLink]="['/db/artist', performance._embedded.artist.id]"
  >
    {{ performance._embedded.artist.name }}
  </a>

  <a
    [routerLink]="['/db/performance', performance.id]"
  >
    {{ performance.performanceDate }}
  </a>
</h1>

<hr>  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="badge badge-secondary">Name for Link</div>
      <input type="text" class="form-control" name="name" [(ngModel)]="linkName">
      <div
        *ngIf="validation_messages?.name"
      >
        <div
          *ngFor="let errorMessage of validation_messages.name | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>

      <div class="badge badge-secondary">URL</div>
      <input type="text" class="form-control" name="url" [(ngModel)]="url">
      <div
        *ngIf="validation_messages?.url"
      >
        <div
          *ngFor="let errorMessage of validation_messages.url | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>

      <br>

      <div class="form-group">
        <button class="btn btn-primary"  (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>

<app-performance-link-table 
  *ngIf="performance" 
  [hideCreateButton]="true" 
  [flag]="true"
  [performance]="performance" 
  [halLink]="performanceLinkLink">
</app-performance-link-table>