<div class="row" *ngIf="title">
  <div class="col-md-12">
    <div class="alert alert-primary cursor-clickable"
      (click)="toggleFlag()"
    >
      {{ title }}
    </div>
  </div>
</div>

<div class="row" *ngIf="(! title || flag) && halResponse">
  <div class="col-md-12 text-right" style="padding-top: 1em;">
    <span>
      Page {{ halResponse.page }} of {{ halResponse.page_count }}
    </span>
    <div class="btn-group" role="group" aria-label="Pagination">
      <button
        *ngFor="let link of halResponse._links | keyvalue "
        (click)="loadLink(link.value)"
        type="button"
        class="btn btn-primary">
        {{ link.key }}
      </button>
    </div>
  </div>
</div>

<table class="table table-striped table-hover" *ngIf="(! title || flag) && halResponse">
  <thead>
    <tr>
      <th>Name (username)</th>
      <th>Email</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userFamily of halResponse._embedded.user_family">
      <td>
        <a
          [routerLink]="['/db/user', userFamily._embedded.familyUser.username]"
        >
          {{ userFamily._embedded.familyUser.name}} ({{ userFamily._embedded.familyUser.username }})
        </a>
      </td>
      <td>
        <a href="mailto:{{ userFamily._embedded.familyUser.email | rot13Decode}}">
          {{ userFamily._embedded.familyUser.email | rot13Decode }}
        </a>
      </td>
      <td>
          {{ userFamily.description }}
        </td>
      </tr>
  </tbody>
</table>
