<div class="row" *ngIf="title">
  <div class="col-md-12">
    <div class="alert alert-primary cursor-clickable"
      (click)="toggleFlag()"
    >
      {{ title }}
    </div>
  </div>
</div>

<div class="row" *ngIf="(! title || flag) && halResponse">
  <div class="col-md-12 text-right" style="padding-top: 1em;">
    <span>
      Page {{ halResponse.page }} of {{ halResponse.page_count }}
    </span>
    <app-pagination-links
      *ngIf="halResponse"
      [loadLink$]="loadLink$"
      [halLinks]="halResponse._links"
    ></app-pagination-links>
  </div>
</div>

<table class="table table-striped table-hover table-sm" *ngIf="(! title || flag) && halResponse">
  <thead>
    <tr>
      <th>Name</th>
      <th>Torrents</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artist of halResponse._embedded.artist">
      <td>
        {{ artist.name }}
      </td>
      <td>
        <a
          [routerLink]="['/torrent/artist', artist.id]"
        >
          Torrents
        </a>
      </td>
    </tr>
  </tbody>
</table>
