<div class="badge badge-secondary">Selected Artist</div>
<div *ngIf="! halArtistGroup">Loading ...</div>

<select *ngIf="halArtistGroup" class="form-control" 
  (change)="updateArtist($event)"
>
  <optgroup *ngFor="let group of halArtistGroup._embedded.artist_group" [label]="group.title">
    <option *ngFor="let artist of group._embedded.artist" [value]="artist.id">
      {{ artist.name }}
    </option>
  </optgroup>
</select>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-sm" style="font-size: .6em;" *ngIf="recentSources">
        <caption>
          <div class="badge badge-secondary">Recently Edited Sources</div>
        </caption>
        <thead>
          <tr>
            <th scope="col">Source ID</th>
            <th scope="col">Performance Date / Update Date</th>
            <th scope="col">Venue</th>
            <th scope="col">
              <div 
                class="btn-group" 
                role="group" 
                aria-lable="Recent Sources Navigation" 
                style="float: right;"
              >
                <a 
                  *ngFor="let link of recentSources._links | keyvalue "
                  (click)="loadRecentSourcesLink(link.value)"
                  class="btn btn-primary btn-sm"
                  style="font-size: .6em;"
                >
                  {{ link.key }}
                </a>
              </div>

              Summary
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let source of recentSources._embedded.source">
            <th scope="row"><a [routerLink]="['/db/source', source.id]">{{ source.id }}</a></th>
            <td>
              <a [routerLink]="['/db/performance', source._embedded.performance.id]">
                {{ source._embedded.performance.performanceDate }}
                <br>
              </a>
              <span *ngIf="source.lastUpdateAt">
                {{ source.lastUpdateAt.date | date:"yyyy-MM-dd" }}
              </span>

            </td>
            <td>{{ source._embedded.performance.venue | slice:0:20 }}</td>
            <td>{{ source.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-sm" style="font-size: .6em;" *ngIf="recentSourceComments">
        <caption><div class="badge badge-secondary">Recent Source Comments</div></caption>
        <thead>
          <th scope="col">Source ID</th>
          <th scope="col">Performance Date</th>
          <th scope="col">User / Date</th>
          <th scope="col">
            <div 
              class="btn-group" 
              role="group" 
              aria-lable="Recent Source Comments Navigation" 
              style="float: right;"
            >
              <a 
                *ngFor="let link of recentSourceComments._links | keyvalue "
                (click)="loadRecentSourceCommentsLink(link.value)"
                class="btn btn-primary btn-sm"
                style="font-size: .6em;"
              >
                {{ link.key }}
              </a>
            </div>

            Comment</th>
        </thead>
        <tbody>
          <tr *ngFor="let sourceComment of recentSourceComments._embedded.source_comment">
            <th scope="row"><a [routerLink]="['/db/source', sourceComment._embedded.source.id]">{{ sourceComment._embedded.source.id }}</a></th>
            <td><a [routerLink]="['/db/performance', sourceComment._embedded.source._embedded.performance.id]">
              {{ sourceComment._embedded.source._embedded.performance.performanceDate }}
            </a></td>
            <td>
              <a [routerLink]="['/user', sourceComment._embedded.user.username]">
                {{ sourceComment._embedded.user.username }}
              </a>
              <br>
              {{ sourceComment.createdAt.date }}
            </td>
            <td>{{ sourceComment.description }}</td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
