<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <select name="artist-select" class="form-control" 
          (change)="nextArtist($event.target.value)"
        >
            <optgroup *ngFor="let group of (halArtistGroup2$ | async)?._embedded.artist_group" [label]="group.title">
              <option *ngFor="let optionArtist of group._embedded.artist" [value]="optionArtist.id"
                [selected]="artist?.id === optionArtist.id"
              >
                {{ optionArtist.name }}
              </option>
            </optgroup>
        </select>
      </form>
    </div>
  </nav>

  <div class="btn-group" *ngIf="artistGroup">
    <a 
      class="btn btn-outline-info btn-sm"
      [routerLink]="['/source-admin/source/pending']"
    >{{ totalPendingSourceCount$ | async }} Total Pending Sources
    </a>
    <a 
      class="btn btn-outline-info btn-sm"
      [routerLink]="['/source-admin/source/pending', artistGroup.id]"
    >{{ pendingSourceCount$ | async }} Artist Group Pending Sources
    </a>
  </div>
  &nbsp;
  <div class="btn-group" *ngIf="artistGroup">
    <a 
      class="btn btn-outline-info btn-sm"
      [routerLink]="['/db/artist', artist?.id]">
      Browse Performances
    </a>
    <a 
      class="btn btn-outline-info btn-sm"
      [routerLink]="['/db/performance/create']"
      [queryParams]="{artist_id: artist?.id}"
    >
      Create Performance
    </a>
    <a 
      class="btn btn-outline-info btn-sm"
      [routerLink]="['/source-admin/artist/edit', artist?.id]"
    >
      Edit Artist
    </a>
    <a 
      class="btn btn-outline-info btn-sm"
      [routerLink]="['/source-admin/artist-group/edit', artist?.id]"
    >
      Edit Artist Group
    </a>
  </div>
  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table table-sm" style="font-size: .6em;">
        <caption>
          <div class="badge badge-secondary">Recently Edited Sources</div>
        </caption>
        <thead>
          <tr>
            <th scope="col">Source ID</th>
            <th scope="col">Performance Date / Update Date</th>
            <th scope="col">Artist</th>
            <th scope="col">
              <div 
                class="btn-group" 
                role="group" 
                aria-lable="Recent Sources Navigation" 
                style="float: right;"
              >
                <a 
                  *ngFor="let link of (recentSources$ | async)?._links | keyvalue "
                  (click)="loadRecentSourcesLink(link.value)"
                  class="btn btn-primary btn-sm"
                  style="font-size: .6em;"
                >
                  {{ link.key }}
                </a>
              </div>

              Summary
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let source of (recentSources$ | async)?._embedded.source">
            <th scope="row"><a [routerLink]="['/db/source', source.id]">{{ source.id }}</a></th>
            <td>
              <a [routerLink]="['/db/performance', source._embedded.performance.id]">
                {{ source._embedded.performance.performanceDate }}
                <br>
              </a>
              <span *ngIf="source.lastUpdateAt">
                {{ source.lastUpdateAt.date | date:"yyyy-MM-dd" }}
              </span>

            </td>
            <td>{{ source._embedded.performance._embedded.artist.name }}</td>
            <td>{{ source.summary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-sm" style="font-size: .6em;">
        <caption><div class="badge badge-secondary">Recent Source Comments</div></caption>
        <thead>
          <th scope="col">Source ID</th>
          <th scope="col">Performance Date/ Create Date</th>
          <th scope="col">Artist / User</th>
          <th scope="col">
            <div 
              class="btn-group" 
              role="group" 
              aria-lable="Recent Source Comments Navigation" 
              style="float: right;"
            >
              <a 
                *ngFor="let link of (recentSourceComments$ | async)?._links | keyvalue "
                (click)="loadRecentSourceCommentsLink(link.value)"
                class="btn btn-primary btn-sm"
                style="font-size: .6em;"
              >
                {{ link.key }}
              </a>
            </div>

            Comment</th>
        </thead>
        <tbody>
          <tr *ngFor="let sourceComment of (recentSourceComments$ | async)?._embedded.source_comment">
            <th scope="row"><a [routerLink]="['/db/source', sourceComment._embedded.source.id]">{{ sourceComment._embedded.source.id }}</a></th>
            <td>
              <a [routerLink]="['/db/performance', sourceComment._embedded.source._embedded.performance.id]">
                {{ sourceComment._embedded.source._embedded.performance.performanceDate }}
              </a>
              <br>
              {{ sourceComment.createdAt.date | date:"yyyy-MM-dd" }}
            </td>
            <td>
              {{ sourceComment._embedded.source._embedded.performance._embedded.artist.name}}
              <br>
              <a [routerLink]="['/user', sourceComment._embedded.user.username]">
                {{ sourceComment._embedded.user.username }}
              </a>
            </td>
            <td>{{ sourceComment.description }}</td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
