<div class="container" style="padding: 1em;">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a 
          (click)="isNavbarCollapsed = true"
          class="navbar-brand" 
          [routerLink]="['/']"
        >
          <app-loading-spinner *ngIf="httpActivity"></app-loading-spinner>
          <img style="width: 36px; " src="https://media.etreedb.org/images/logo-300x300.png">
        </a>
        <button
          (click)="isNavbarCollapsed = ! isNavbarCollapsed"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse"
          [ngbCollapse]="isNavbarCollapsed"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="padding-right: 1em;">
              <a 
                class="btn btn-primary" 
                (click)="isNavbarCollapsed = ! isNavbarCollapsed"      
                [routerLink]="['/artist']">Artists, Performances, Sources</a>
            </li>
            <li class="nav-item btn-group" style="padding-right: 1em;">              
              <a 
                class="btn btn-secondary" 
                (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                [routerLink]="['/performance/search']">Search Performances</a>
              <a 
                class="btn btn-secondary" 
                (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                [routerLink]="['/source/search']">Sources</a>
            </li>
          
            <li class="nav-item" style="padding-right: 1em;">
              <a style="
                  color: yellow; 
                  background-color: black; 
                  text-decoration: underline;
                  text-decoration-color: red;
                "
                class="btn btn-secondary" 
                (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                [routerLink]="['/etree-collection']"><span style="color: white;" class="iconochive-logo"></span> The etree Collection <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a style="
                color: white;
                background-color: green;"
                class="btn btn-secondary"
                (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                [routerLink]="['/bittorrent']">Bit Torrent</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="! user">
              <a
                [routerLink]="['/login']"
                (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                class="btn btn-outline-primary"
              >Login</a>
            </li>
            <li class="nav-item" *ngIf="user">

                <div class="btn-group" ngbDropdown placement="bottom-right" role="group">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>{{ user.name }}</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <a
                      class="dropdown-item"
                      [routerLink]="['/home']"
                      (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                    >
                      Home
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                      [routerLink]="['/logout']"
                      (click)="isNavbarCollapsed = ! isNavbarCollapsed"
                    >Logout</a>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </nav>
</div>
  </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>