<app-etree-collection-header></app-etree-collection-header>
  
<h1>
  Creator: 
  {{ creator?.name }}
</h1>
  
<div aria-label="Years">
  <button *ngFor="let y of creator?._computed.years"
    (click)="year.next(y || null);"
    [ngClass]="{
      'btn-primary': y == currentYear
    }"
  >
    {{ y || 0 }}
  </button>
</div>

<!-- Internet Archive Identifers -->
<app-identifier-table [halResponse]="halIdentifier | async"></app-identifier-table>

<!-- Internet Archive Identifers -->
<app-identifier-table title="Identifiers by Date Added" [halResponse]="dateAddedHalResponse"></app-identifier-table>

<!-- Identifiers without sources -->
<app-identifier-table title="Identifiers Without Sources" [halResponse]="halOrphans"></app-identifier-table>
