<div class="container" style="padding: 1em;">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a 
          (click)="isNavbarCollapsed = true"
          class="navbar-brand" 
          [routerLink]="['/']"
        >
          <app-loading-spinner *ngIf="httpActivity"></app-loading-spinner>
          <img style="width: 36px; " src="https://media.etreedb.org/images/logo-300x300.png">
        </a>
        <button
          (click)="isNavbarCollapsed = ! isNavbarCollapsed"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <h1>
          Source Admin Dashboard
        </h1>
      </nav>
    </div>
  </div>
</div>

<div class="container">
  <p>
    Thank you for volunteering to maintain sources in circulation at etreedb.org.
  </p>

  <div class="badge badge-secondary">Selected Artist</div>
  <div *ngIf="! halArtistGroup">Loading ...</div>

  <select *ngIf="halArtistGroup" class="form-control" 
    (change)="updateArtist($event)"
  >
    <optgroup *ngFor="let group of halArtistGroup._embedded.artist_group" [label]="group.title">
      <option *ngFor="let artist of group._embedded.artist" [value]="artist.id">
        {{ artist.name }}
      </option>
    </optgroup>
  </select>

  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
  