<footer class="container">
  <hr>
  <div class="row">
      <div class="col-md-4">
      <a class="cursor-outbound etreedb" href="https://etreedb.org/">etreedb.org</a>
      </div>
      <div class="col-md-4">
      <a class="etreedb" [routerLink]="['/']">search.etreedb.org</a>
      </div>
      <div class="col-md-4">
      <a class="cursor-outbound etreedb" href="https://api.etreedb.org">api.etreedb.org</a>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      For administrative requests email
      <a class="cursor-help" href="mailto:contact@etreedb.org">contact@etreedb.org</a>
      <br>
      This website maintained by the 
      <a class="cursor-outbound" href="https://etreedb.org">etreedb.org</a>
          community
        and is open source @
        <a class="cursor-outbound" href="https://github.com/etreedb/search">
          github.com/etreedb/search
        </a>
    </div>
  </div>
</footer>