<div *ngIf="performance">
<div class="btn-group">
  <a 
    [routerLink]="['/performance/edit', performance.id]"
    class="btn btn-outline-info btn-sm"
  >
    Edit Performance
  </a>

  <a
    class="btn btn-outline-info btn-sm"
    [routerLink]="['/source/create']"
    [queryParams]="{ performance_id: performance.id }"
  >
    Create Source
  </a>
</div>

<h1>
  <a [routerLink]="['/artist', performance._embedded.artist.id]" [queryParams]="{year: performance.year}">
    {{ performance._embedded.artist.name }}
  </a>
  
  <span 
    [ngClass]="{
      'alert-info': performanceCorrection?.performanceDate
    }"
  >
    {{ performanceCorrection?.performanceDate || performance.performanceDate }}
  </span>
</h1>

<div class="container" *ngIf="performance">
  <div class="row" *ngIf="performanceCorrection?.title || performance.title">
    <div class="col-md-7">
      <span class="badge badge-secondary">Title</span>
      <h4
        [ngClass]="{
          'alert-info': performanceCorrection?.title
        }"
      >
        {{ performanceCorrection?.title || performance.title }}
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <span class="badge badge-secondary">Venue</span>
      <h4
        [ngClass]="{
          'alert-info': performanceCorrection?.venue
        }"
      >
        {{ performanceCorrection?.venue || performance.venue }}
      </h4>
    </div>
    <div class="col-md-4">
      <span class="badge badge-secondary">City</span>
      <h4
        [ngClass]="{
          'alert-info': performanceCorrection?.city
        }"
      >
        {{ performanceCorrection?.city || performance.city }}
      </h4>
    </div>
    <div class="col-md-4">
      <span class="badge badge-secondary">State</span>
      <h4
        [ngClass]="{
          'alert-info': performanceCorrection?.state
        }"
      >
        {{ performanceCorrection?.state || performance.state }}
      </h4>
    </div>
  </div>

  <div class="row" *ngIf="performance">
    <div class="col-md-4 etreedb-nl2br" *ngIf="performance.set1.trim()">
      <span class="badge badge-secondary" >Set 1</span>
      <br>
      <span
        [ngClass]="{
          'alert-info': performanceCorrection?.set1
        }"
      >
        {{ performanceCorrection?.set1 || performance.set1 | ltgt }}
      </span>
  </div>
    <div class="col-md-4 etreedb-nl2br" *ngIf="performance.set2.trim()" >
      <span class="badge badge-secondary">Set 2</span>
      <br>
      <span
        [ngClass]="{
          'alert-info': performanceCorrection?.set2
        }"
      >
        {{ performanceCorrection?.set2 || performance.set2 | ltgt }}
      </span>
    </div>
    <div class="col-md-4 etreedb-nl2br" *ngIf="performance.set3.trim()">
      <span class="badge badge-secondary">Set 3</span>
      <br>
      <span
        [ngClass]="{
          'alert-info': performanceCorrection?.set3
        }"
      >
        {{ performanceCorrection?.set3 || performance.set3 | ltgt }}
      </span>
    </div>
  </div>
  <div class="row" *ngIf="performance && performance.description.trim() && ! togglePerformanceLinksFlag && ! toggleAuditFlag">
    <div class="col-md-12 etreedb-nl2br" #viewport >
      <span class="badge badge-secondary">Description</span>
      <br>
      <span
        [ngClass]="{
          'alert-info': performanceCorrection?.description
        }"
      >
        {{ performanceCorrection?.description || performance.description }}
      </span>
    </div>
  </div>
</div>

<!-- Sources Table -->
<app-source-table title="Sources" [halLink]="performance._embedded.source._links.self"></app-source-table>
  
<!-- Links Table -->
<app-link-table title="Performance Links" [halLink]="performance._embedded.performanceLink._links.self" [entityType]="'performance'"></app-link-table>

<!-- User Performance -->
<app-user-performance-table title="Users Who Own This Performance" [halLink]="performance._embedded.userPerformance._links.self"></app-user-performance-table>

<!-- Audit Table -->
<app-audit-table [halLink]="performance._links.audit" [entityType]="'performance'"></app-audit-table>

<!-- Internet Archive Identifers -->
<app-identifier-table title="Internet Archive Identifiers" [creator]="performance._embedded.artist.name" [performanceDate]="performance.performanceDate"></app-identifier-table>

</div>