<h1>
  Search Performances
</h1>

<div class="input-group input-group-lg">
  <input
    #searchBox
    id="search-box"
    name="search"
    type="text"
    class="form-control"
    placeholder="Search Performances"
    aria-describedby="search-prepend"
    value="{{ searchTerm }}"
    (keyup.enter)="search(searchBox.value)"
    >
  <div class="input-group-append">
    <input
      type="button"
      class="input-group-text cursor-clickable"
      (click)="search(searchBox.value)"
      value="Search">
  </div>
</div>

<!-- Performance Table -->
<div class="row" *ngIf="halPerformance">
  <div class="col-md-12">
    <app-performance-table [halPerformance]="halPerformance"></app-performance-table>
  </div>
</div>
  
<div role="alert" class="alert alert-danger" *ngIf="! showInstructions && halPerformance">
    No results.
</div>

<div *ngIf="showInstructions" class="row">
  <div class="col-md-12">
    <h3>
      This page is full text searching of Performances.
    </h3>
  </div>
  <div class="col-md-4">
    <p>
      <strong>Search within a specific field</strong>
      <br>
      <button class="btn btn-info"
      (click)='searchBox.value="name:\"Grateful Dead\" year:1995"; search(searchBox.value);'
      >
        <i>name:"Grateful Dead" year:1995</i>
    </button>
    </p>
    <p>
      <strong>Available fields</strong>
      <ul>
        <li>performanceDate</li>
        <li>name (Artist)</li>
        <li>year</li>
        <li>venue</li>
        <li>city</li>
        <li>state</li>
        <li>set1</li>
        <li>set2</li>
        <li>set3</li>
        <li>comment</li>
      </ul>

  </div>
  <div class="col-md-4">
    The search engine is Elasticsearch based on Lucene.
    This guide to
    <a class="cursor-outbound" href=" https://lucene.apache.org/core/2_9_4/queryparsersyntax.html">
      Query Parser Syntax
    </a>
    gives all the available search criteria.
  </div>
  <div class="col-md-4">
    The search results are indexed periodically.  Adding a new
    performance to etreedb.org will not show up in this index
    right away.
    <br>
    <br>
    Last indexed 2018-10-15 09:00:00
  </div>
</div>
