<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <a href="/" class="input-group-text" id="search-prepend">
      <img style="width: 36px; " src="https://etreedb.org/logo.png">
    </a>
  </div>
  <input 
    #searchBox 
    id="search-box" 
    name="search" 
    type="text" 
    class="form-control" 
    placeholder="Search Performances"
    aria-describedby="search-prepend" 
    (input)="search(searchBox.value)" 
    value="{{ searchTerm }}"
  >
  <div class="input-group-append">
    <input type="submit" href="#" class="input-group-text" value="Search">
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <div class="container">
                <div class="row">
                  <div class="col-md-2">
                    Date
                  </div>
                  <div class="col-md-3">
                    Artist Name
                  </div>
                  <div class="col-md-3">
                    Venue
                  </div>
                  <div class="col-md-3">
                    City
                  </div>
                  <div class="col-md-1">
                    State
                  </div>
                </div>
              </div>              
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let performance of performances">
            <td>
              <div class="container">
                <div class="row" (click)="performance.toggle = !performance.toggle">
                  <div class="col-md-2">
                    <a href="https://etreedb.org/performance/{{ performance.id }}">
                      <img style="width: 24px; " src="https://etreedb.org/logo.png">
                    </a>
                    {{ performance.performanceDate }}
                  </div>
                  <div class="col-md-3">
                    {{ performance._embedded.artist.name }}
                  </div>
                  <div class="col-md-3">
                    {{ performance.venue }}
                  </div>
                  <div class="col-md-3">
                    {{ performance.city }}
                  </div>
                  <div class="col-md-1">
                    {{ performance.state}}
                  </div>
                </div>
                <hr *ngIf="performance.toggle">
                <div class="row" *ngIf="performance.toggle">
                  <div class="col-md-4">
                    <strong>Set 1</strong>
                    {{ performance.set1 }}
                  </div>
                  <div class="col-md-4">
                      <strong>Set 2</strong>
                      {{ performance.set2 }}
                  </div>
                  <div class="col-md-4">
                      <strong>Set 3</strong>
                      {{ performance.set3 }}
                  </div>
                </div>
                <hr *ngIf="performance.toggle">
                <div class="row" *ngIf="performance.toggle">
                  <div class="col-md-12">
                    <strong>Comment</strong>
                    {{ performance.description }}
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
  
