<div class="row" *ngIf="title">
  <div class="col-md-12">
    <div class="alert alert-primary cursor-clickable"
      (click)="toggleFlag()"
    >
      {{ title }}
    </div>
  </div>
</div>

<div class="row" *ngIf="(! title || flag) && halResponse">
    <div class="col-md-12 text-right" style="padding-top: 1em;">
      <span>
        Page {{ halResponse.page }} of {{ halResponse.page_count }}
      </span>
      <app-pagination-links
        *ngIf="halResponse"
        [loadLink$]="loadLink$"
        [halLinks]="halResponse._links"
      ></app-pagination-links>
    </div>
  </div>

  <table class="table table-striped table-hover table-sm" *ngIf="(! title || flag) && halResponse">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Name</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let link of getLinks()">
      <td>{{ link._embedded.artist.name }}</td>
      <td>{{ link.name }}</td>
      <td><a class="cursor-outbound" href="{{ link.url }}">{{ link.url }}</a></td>
      <td class="text-right">
        <a appShowForRoleSource class="btn btn-outline-warning" (click)="patch(link)">
          Edit
        </a>
        &nbsp;
        <a appShowForRoleSource class="btn btn-outline-danger" (click)="delete(link)">
          Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
