<!-- Sources Table -->
<app-artist-table title="Artists by date created" [halLink]="artistLink"></app-artist-table>

<!-- Perforrmance Table -->
<app-performance-table [isAdministration]="true" [queryParams]="null" title="Performances by date created" [halLink]="performanceLink"></app-performance-table>

<!-- Sources Table -->
<app-source-table [isAdministration]="true" [queryParams]="null" title="Sources by date created" [halLink]="sourceLink"></app-source-table>

<!-- Artist Links -->
<app-artist-link-table title="Artist Links by id" [halLink]="artistLinkLink"></app-artist-link-table>


<!-- Links Table
<app-link-table title="Performance Links" [halLink]="performanceLinkLink" [entityType]="'performance'"></app-link-table>

<!-- Performance Images 
<app-performance-image-table title="Performance Images" [halLink]="performanceImageLink"></app-performance-image-table>


<!-- Source Links Table
<app-link-table title="Source Links" [halLink]="sourceLinkLink" [entityType]="source"></app-source-table>

<!-- User 
<app-user-performance-table title="Users" [halLink]="userLink"></app-user-performance-table>
-->

