<div class="btn-group" style="padding-bottom: 15px">
  <a
    class="btn btn-outline-info btn-sm"
    [routerLink]="['/administration/artist-group']"
  >
    Artist Groups
  </a>
</div>

<!-- Sources Table -->
<app-artist-table title="Artists by date created" [halLink]="artistLink"></app-artist-table>

<!-- Artist Links -->
<app-artist-link-table title="Artist Links by id" [halLink]="artistLinkLink"></app-artist-link-table>

<!-- Perforrmance Table -->
<app-performance-table [isAdministration]="true" [queryParams]="null" title="Performances by date created" [halLink]="performanceLink"></app-performance-table>

<!-- Performance Images -->
<app-performance-image-table [isAdministration]="true" title="Performance Images by date created" [hideUploadButton]="true" [halLink]="performanceImageLink"></app-performance-image-table>

<!-- Performance Links -->
<app-performance-link-table title="Performance Links by id" [halLink]="performanceLinkLink"></app-performance-link-table>

<!-- Sources Table -->
<app-source-table [isAdministration]="true" [queryParams]="null" title="Sources by date created" [halLink]="sourceLink"></app-source-table>

<app-source-link-table 
  [hideCreateButton]="true" 
  [title]="'Source Links by id'" 
  [halLink]="sourceLinkLink">
</app-source-link-table>



<!-- Source Links Table
<app-link-table title="Source Links" [halLink]="sourceLinkLink" [entityType]="source"></app-source-table>

<!-- User 
<app-user-performance-table title="Users" [halLink]="userLink"></app-user-performance-table>
-->

