<h1>Artist Groups</h1>
<p>
  These groups are used to group artists who have sources and source admins.
</p>

<div class="btn-group" style="padding-bottom: 15px">
  <a
    class="btn btn-outline-info btn-sm"
    [routerLink]="['/administration/artist-group-create']"
  >
    Create New Artist Group
  </a>
</div>
  
<div class="container">
  <div class="row">
    
    <div class="col-md-12 text-right" *ngIf="halArtistGroup">
      <span>
        Page {{ halArtistGroup.page }} of {{ halArtistGroup.page_count }}
      </span>
      <app-pagination-links
        *ngIf="halArtistGroup"
        [loadLink$]="loadLink$"
        [halLinks]="halArtistGroup._links"
      ></app-pagination-links>
    </div>    
    
    <div class="row" *ngIf="halArtistGroup">
      <div class="col-md-4" *ngFor="let artistGroup of halArtistGroup._embedded.artist_group">
        <a [routerLink]="['/administration/artist-group', artistGroup.id]">
          {{ artistGroup.title }}
        </a>
      </div>
    </div>
      
  </div>
</div>
  