<div class="container" style="padding: 1em;">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/']">
          <img style="width: 36px; " src="https://media.etreedb.org/images/logo-300x300.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/artist']">Artists <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/performance/search']">Search Performances <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/source']">Sources <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/source/search']">Search Sources <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="! user">
              <button (click)="login()" class="btn btn-outline-primary">Login</button>
            </li>
            <li class="nav-item" *ngIf="user">

                <div class="btn-group" ngbDropdown placement="bottom-right" role="group">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>{{ user.name }}</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item">Collected Performances</button>
                    <button class="dropdown-item">Profile</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" (click)="logout()">Logout</button>
                  </div>
                </div>

            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="container">
<hr>
<div class="row">
    <div class="col-md-4">
    <a class="cursor-outbound etreedb" href="https://etreedb.org/">etreedb.org</a>
    </div>
    <div class="col-md-4">
    <a class="etreedb" [routerLink]="['/']">search.etreedb.org</a>
    </div>
    <div class="col-md-4">
    <a class="cursor-outbound etreedb" href="https://api.etreedb.org">api.etreedb.org</a>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-md-9">
    For administrative requests email
    <a class="cursor-help" href="mailto:contact@etreedb.org">contact@etreedb.org</a>
    <br>
    This website written by <a class="cursor-outbound" href="https://tomhanderson.com">Tom H Anderson</a>
    and maintained by the
    <a class="cursor-outbound" href="https://etreedb.org">etreedb.org</a>
        community.
  </div>
  <div class="text-right col-md-3">
      Open source @
      <a class="cursor-outbound" href="https://github.com/etreedb/search">
        etreedb/search
      </a>
  </div>
</div>
