<h1>Upload Performance Images</h1>
<h2 *ngIf="performance">
    <a
    [routerLink]="['/db/artist', performance._embedded.artist.id]"
    [queryParams]="{year: performance.year}"
  >
    {{ performance._embedded.artist.name }}
  </a>
  <a [routerLink]="['/db/performance', performance.id]">{{ performance.performanceDate }}</a>
  <br>
  {{ performance.venue }}, {{ performance.city }}, {{ performance.state }}
</h2>
<hr>  
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Choose File</h3>            
      <div class="form-group">
        <input type="file" name="image" (change)="fileProgress($event)" />
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>

      <div
        *ngIf="validation_messages?.image"
      >
        <div
          *ngFor="let errorMessage of validation_messages.image | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>


      <div class="image-preview mb-3" *ngIf="previewUrl">
        <img [src]="previewUrl" height="300" />                 
      </div>
      <div class="mb-3" *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
      <h3>Description</h3>
      <textarea cols="40" rows="1" [(ngModel)]="description"></textarea>
      <div class="form-group">
        <button class="btn btn-primary"  (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
</div>

<app-performance-image-table [hideUploadButton]="true" title="Performance Images" *ngIf="performance" [performance]="performance" [halLink]="performance._embedded.performanceImage._links.self"></app-performance-image-table>