<h1>
  {{ user.name }} ({{ user.username }})
</h1>

<p>
  Thanks for using etreedb.org.  Here you'll find the tools to manage your account 
  as well as links to the data you've provided.
</p>

<div class="row">
  <div class="col-md-3">
    <span class="badge badge-secondary">Are you actively trading?</span>
    <br>
    <span *ngIf="user.isActiveTrading">Yes</span>
    <span *ngIf="! user.isActiveTrading">No</span>
  </div>
  <div class="col-md-3">
    <span class="badge badge-secondary">Last update at</span>
    <br>
    {{ user.lastUpdateAt.date | date:'yyyy-MM-dd' }}
  </div>
  <div class="col-md-3">
      <span class="badge badge-secondary">Joined At</span>
      <br>
      {{ user.createdAt.date | date:'yyyy-MM-dd' }}
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <span class="badge badge-secondary">User Name</span>
    <br>
    {{ user.username }}
  </div>
  <div class="col-md-3">
      <span class="badge badge-secondary">Email</span>
      <br>
      {{ user.realEmail | rot13Decode }}  
  </div>
  <div class="col-md-3">
      <span class="badge badge-secondary">City, State, Postal Code</span>
      <br>
      {{ user.city }}, {{ user.state }} {{ user.postalCode }}
  </div>
  <div class="col-md-3">
    <span class="badge badge-secondary">Permissions</span>
    <br>
    <span *ngFor="let role of user._embedded.role"  style="margin-right: 6px;" class="badge badge-success">{{ role.roleId }}</span>
  </div>
</div>

<span class="badge badge-secondary">Rules</span>
<div class="row">
  <div class="col-md-12" [innerHtml]="user.rules">
  </div>
</div>

<hr>

<!-- User Performance -->
<app-user-performance-table title="Your Performances Which You Own" [halLink]="user._embedded.userPerformance._links.self"></app-user-performance-table>
  
<!-- Performance Table -->
<app-performance-table title="Performances You Entered" [halLink]="user._embedded.performance._links.self"></app-performance-table>
  
<!-- Sources Table -->
<app-source-table title="Sources You Entered" [halLink]="user._embedded.source._links.self"></app-source-table>

<!-- Source Comments -->
<app-source-comment-table title="Your Source Comments" [halLink]="user._embedded.sourceComment._links.self"></app-source-comment-table>

<!-- Family -->
<app-family-table title="Your Trading Family" [halLink]="user._embedded.userFamily._links.self"></app-family-table>

<!-- Family -->
<app-family-extended-table title="Your Extended Trading Family" [halLink]="user._embedded.userFamilyExtended._links.self"></app-family-extended-table>

<!-- User Feedback -->
<app-user-feedback-table title="Feedback From Others About You" [halLink]="user._embedded.userFeedback._links.self"></app-user-feedback-table>
  
<!-- User Feedback Post -->
<app-user-feedback-table title="Feedback you have posted about others" [halLink]="user._embedded.userFeedbackPost._links.self"></app-user-feedback-table>
