<div class="row" *ngIf="title">
  <div class="col-md-12">
    <div class="alert alert-primary cursor-clickable"
      (click)="toggleFlag()"
    >
      {{ title }}
    </div>
  </div>
</div>

<div class="row" *ngIf="( ! title || flag) && halResponse">
    <div class="col-md-6">
      <div class="btn-group" *ngIf="! hideUploadButton">
        <a appShowForRoleSource
          class="btn btn-outline-info btn-sm"
          [routerLink]="['/db/performance-image/create']"
          [queryParams]="{'performance_id': performance.id}"
        >
          Upload Image
        </a>
      </div>
    </div>
    <div class="col-md-6 text-right" style="padding-top: 1em;">
      <span>
        Page {{ halResponse.page }} of {{ halResponse.page_count }}
      </span>
      <app-pagination-links
        *ngIf="halResponse"
        [loadLink$]="loadLink$"
        [halLinks]="halResponse._links"
      ></app-pagination-links>
    </div>
  </div>

  <table class="table table-striped table-hover table-sm" *ngIf="(! title || flag) && halResponse">
    <thead>
      <tr>
          <th *ngIf="isAdministration">Created At</th>
          <th *ngIf="isAdministration">Artist</th>
          <th *ngIf="isAdministration">Performance Date</th>
          <th>Description</th>
        <th>Thumbnail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let performanceImage of halResponse._embedded.performance_image">
        <td *ngIf="isAdministration">
          {{ performanceImage.createdAt.date | date:"yyyy-MM-dd" }}
        </td>
        <td *ngIf="isAdministration">
          <a
            [routerLink]="['/db/artist', performanceImage._embedded.performance._embedded.artist.id]"
          >
            {{ performanceImage._embedded.performance._embedded.artist.name }}
          </a>
        </td>
        <td *ngIf="isAdministration">
          <a
            [routerLink]="['/db/performance', performanceImage._embedded.performance.id]"
          >
            {{ performanceImage._embedded.performance.performanceDate }}
          </a>
        </td>
        <td>
          {{ performanceImage.description }}
        </td>
        <td>
          <a (click)="openCarousel(content, performanceImage)" title="{{ performanceImage.path }}">
            <img src="{{ performanceImage.path }}" style="height: 50px;">
          </a>
        </td>
        <td class="text-right">
          <a appShowForRoleSource class="btn btn-outline-warning" (click)="patch(performanceImage)">
            Edit
          </a>
          &nbsp;
          <a appShowForRoleSource class="btn btn-outline-danger" (click)="delete(performanceImage)">
            Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>


<ng-template #content let-modal >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        <a
        [routerLink]="['/db/artist', performance._embedded.artist.id]"
      >
        {{ performance._embedded.artist.name }}
      </a>
      <a
        [routerLink]="['/db/performance', performance.id]"
      >
        {{ performance.performanceDate }}
      </a>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-carousel *ngIf="halResponse"
      [showNavigationArrows]="true"
      [showNavigationIndicators]="true"
      interval=0
      [activeId]="slideStart"
      style="background-color: black;"
    >
      <ng-template ngbSlide *ngFor="let performanceImage of halResponse._embedded.performance_image; let i = index" id="{{i}}">
        <div class="picsum-img-wrapper text-center">
          <a [href]="performanceImage.path" target="_blank">
            <img style="max-height: 480px" [src]="performanceImage.path" [alt]="performanceImage.description">
          </a>
        </div>
        <div class="carousel-caption">
          <p>{{ performanceImage.description }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</ng-template>
