<h1>
  Create New Artist
</h1>

<p>
  This form will create a new artist at etreedb.org.  
  <br>
  Before you proceed, please
  <a routerLink="['/artist']">
    make sure that the artist is not already in the database
  </a>,
  perhaps under a similar name.
</p>
<hr>

<form [formGroup]="artistForm" (ngSubmit)="onSubmit($event)">
  <div class="row">
    <div class="col-md-4 form-group">
      <label class="badge"
      [ngClass]="{
        'badge-success': nameOk,
        'badge-danger': ! nameOk
      }"
      for="name">Name</label>
      <input id="name" type="text" formControlName="name" class="form-control">
      <small id="nameHelp" class="form-text text-muted">
          Please use Initial Caps; also '&' not '+' or 'and'.
      </small>
      <div 
        *ngIf="validation_messages?.name" 
      >
        <div 
          *ngFor="let errorMessage of validation_messages.name | keyvalue"
          class="alert alert-danger" 
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label class="badge" 
      [ngClass]="{
        'badge-warning': ! officialUrlOk,
        'badge-success': officialUrlOk
      }"
      for="officialUrl">Official Url</label>
      <input id="officialUrl" formControlName="officialUrl" type="text" class="form-control">
      <small id="officialUrlHelp" class="form-text text-muted">
          Start with http:// or https://
      </small>

      <div 
        *ngIf="validation_messages?.officialUrl" 
      >
        <div 
          *ngFor="let errorMessage of validation_messages.officialUrl | keyvalue"
          class="alert alert-danger" 
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label class="badge" 
        [ngClass]="{
          'badge-warning': ! abbreviationOk,
          'badge-success': abbreviationOk
        }"
      for="abbreviation">Abbreviation</label>
      <input id="abbreviation" type="text" formControlName="abbreviation" class="form-control">

      <div *ngIf="validation_messages?.abbreviation">
        <div 
          *ngFor="let errorMessage of validation_messages.abbreviation | keyvalue"
          class="alert alert-danger" 
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <label class="badge badge-success" 
      for="abbreviation">Is Artist Trade Friendly?</label>
      <br>

      <label class="radio-inline" style="margin-right: 3em;">
        <input type="radio" checked="checked" formControlName="isTradable" name="isTradable" value="1">
        Yes
      </label>
      <label class="radio-inline">
        <input type="radio" formControlName="isTradable" name="isTradable" value="0">
        No
      </label>

      <div *ngIf="validation_messages?.isTradable">
        <div 
          *ngFor="let errorMessage of validation_messages.isTradable | keyvalue"
          class="alert alert-danger" 
        >
          {{ errorMessage.value }}
        </div>
      </div>  
    </div>
    <div class="col-md-8">
      <label class="badge badge-success" for="description">
        Description
      </label>
      <textarea class="form-control" formControlName="description" name="description"></textarea>
    </div>
  </div>
  <br>
  <button type="submit" class="btn"
    [ngClass]="{ 
      'btn-danger': ! nameOk || ! officialUrlOk ||  ! abbreviationOk,
      'btn-success': nameOk && officialUrlOk &&  abbreviationOk
    }"
  >Submit</button>
</form>