<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Artist:
        {{ shnFlacArtist?.name }}
        <span *ngIf="shnFlacArtist && shnFlacArtist._embedded.artist.abbreviation">
          ({{ shnFlacArtist?._embedded.artist.abbreviation }})
        </span>
        <h6 *ngIf="shnFlacArtist?._embedded.artist.officialUrl">
          <a href="{{shnFlacArtist._embedded.artist.officialUrl}}" class="cursor-outbound">
            {{ shnFlacArtist._embedded.artist.officialUrl }}
          </a>
        </h6>
      </h1>          

      <!--
      <div aria-label="Years">
        <button *ngFor="let y of shnFlacArtist._computed.years"
          (click)="year.next(y);"
          [ngClass]="{
            'btn-primary': y == currentYear
          }"
        >
          {{ y }}
        </button>
      </div>
      -->

      <!-- Performance Table -->
      <app-shn-flac-torrent-table [halResponse]="halShnFlacTorrent | async"></app-shn-flac-torrent-table>

    </div>
  </div>
</div>


