<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="name"
          [ngbTypeahead]="lookup"
          [class.is-invalid]="searchFailed"
          tabindex="1"
          name="qu"
          spellcheck="false"
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
          id="artist_lookup"
          class="form-control"
          placeholder="Artist Name"
          aria-describedby="artist_lookup_ok_span"
        >
      </div>
    </div>
    <div class="col-md-2">

      <input
        [(ngModel)]="performanceDate"
        (keyup)="datemask($event)"
        style="border: solid;border-width: 1px;max-width: 10em"
        type="text"
        tabindex="2"
        maxlength="10"
        size="8"
        placeholder="yyyy-mm-dd"
        id="showdate"
        name="showdate"
        class="artist_lookup form-control"
      >
    </div>

    <div class="col-md-5">
      <button type="button"
        class="btn btn-primary"
        placement="bottom"
        (click)="artistLookup()"
      >
        Lookup
      </button>
    </div>
  </div>
  <div
    class="row"
    style="margin-top: 0.5em;"
    *ngIf="result"
  >
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            Performance Date
          </th>
          <th>
            Name
          </th>
          <th>
            Venue
          </th>
          <th>
            City
          </th>
          <th>
            State
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of result">
          <td>
            <a [routerLink]="['/performance', row.id]">
              {{ row.performanceDate }}
            </a>
          </td>
          <td>
            <a
              [routerLink]="['/artist', row.artist_id]"
              [queryParams]="{year: row.year}"
            >
              {{ row.name }}
            </a>
          </td>
          <td>{{ row.venue }}</td>
          <td>{{ row.city }}</td>
          <td>{{ row.state }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="row alert alert-danger alert-dismissible"
    style="margin-top: 0.5em;"
    *ngIf="resultNotFound"
  >
  <a href="#" class="close" (click)="resultNotFound = false" data-dismiss="alert" aria-label="close">&times;</a>
    Performance not found
  </div>
</div>
