<div *ngIf="artist">
<h1>
  Create Performance for
  <a [routerLink]="['/artist', artist.id]">
    {{ artist.name }}
  </a>
</h1>

<div class="badge badge-info">Please . . . .</div>
<ul>
  <li>You are entering GENERIC data for everyone to use</li>
  <li>Specifics about your recording go in the 'Notes' on your list</li>
  <li>No mic or recording info here</li>
  <li>Do not list track numbers or timings</li>
  <li>Use Initial Capitals For Just About Everything</li>
  <li>Historical info and cross-references welcome</li>
  <li>If you make a mistake or need help
    <a href="mailto:contact@etreedb.org">email us</a>
    the problem and performance id #.
  </li>
</ul>

<form [formGroup]="performanceForm" (ngSubmit)="onSubmit($event)">
  <div class="row">
    <div class="col-md-2">
      <label class="badge badge-secondary" for="name">Performance Date</label>
      <div class="input-group">
        <input
          type="text"
          [ngModel]="performanceDate | dateMask"
          (ngModelChange)="performanceDate=$event"
          id="performanceDate"
          type="text"
          formControlName="performanceDate"
          class="form-control"
          placeholder="yyyy-mm-dd"
          maxlength="10"
          aria-describedby="performanceDate-append"
        >
        <div class="input-group-append">
          <span
          class="input-group-text"
          [ngClass]="{
            'badge-danger': ! performanceDateOk,
            'badge-success': performanceDateOk
          }"
          [innerHtml]="(performanceDateOk) ? '&#x2713;': '&#x2717;'"
          id="performanceDate-append">Required</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-6">
      <small id="nameHelp" class="form-text text-muted">
        If you don't know the month or day, use '??' (not '00'). If you don't know the year use ????.
      </small>

      <div *ngIf="validation_messages?.performanceDate">
        <div
          *ngFor="let errorMessage of validation_messages.performanceDate | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>
  </div>

  <div class="row etreedb-form-row-padding">
    <div class="col-md-6">
      <label class="badge badge-secondary" for="title">Title</label>
      <input
        type="text"
        id="title"
        type="text"
        formControlName="title"
        class="form-control"
        placeholder="Use for compilations or when the performance is not a specific date"
      >
      <small id="titleHelp" class="form-text text-muted">
        Use the title when the recording is not a performance date at a venue.
      </small>
    </div>
  </div>

  <div class="row etreedb-form-row-padding">
    <div class="col-md-4">
      <label class="badge badge-secondary" for="venue">Venue</label>
      <div class="input-group">
        <input
          type="text"
          id="venue"
          formControlName="venue"
          class="form-control"
          placeholder="Where it happened, or use 'Unknown'"
          aria-describedby="venue-append"
        >
        <div class="input-group-append">
          <span
          class="input-group-text"
          [ngClass]="{
            'badge-danger': ! venueOk,
            'badge-success': venueOk
          }"
          [innerHtml]="(venueOk) ? '&#x2713;': '&#x2717;'"
          id="venue-append">Required</span>
        </div>
      </div>
      <div *ngIf="validation_messages?.venue">
        <div
          *ngFor="let errorMessage of validation_messages.venue | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-4">
      <label class="badge badge-secondary" for="city">City</label>
      <div class="input-group">
        <input
          type="text"
          id="city"
          formControlName="city"
          class="form-control"
          placeholder="Or 'Unknown' / 'Compilation'"
          aria-describedby="city-append"
        >
        <div class="input-group-append">
          <span
            class="input-group-text"
            [ngClass]="{
              'badge-danger': ! cityOk,
              'badge-success': cityOk
            }"
            [innerHtml]="(cityOk) ? '&#x2713;': '&#x2717;'"
            id="city-append">Required</span>
        </div>
      </div>
      <div *ngIf="validation_messages?.city">
        <div
          *ngFor="let errorMessage of validation_messages.city | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-4">
      <label class="badge badge-secondary" for="state">State or Country</label>
      <div class="input-group">
        <input
          type="text"
          id="state"
          formControlName="state"
          class="form-control"
          placeholder="Enter country if not US"
          aria-describedby="state-append"
        >
        <div class="input-group-append">
          <span
            class="input-group-text"
            [ngClass]="{
              'badge-danger': ! stateOk,
              'badge-success': stateOk
            }"
            [innerHtml]="(stateOk) ? '&#x2713;': '&#x2717;'"
            id="state-append">Required</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-6">
      <small id="stateHelp" class="form-text text-muted">
        Please abbreviate US/Canada (e.g. NY, IL, ON) or use "Unknown" or "Compilation" --
        Need
        <a href="http://www.50states.com/abbreviations.htm" class="cursor-outbound">U.S. help?</a>
        <a href="http://canadaonline.about.com/library/bl/blpabb.htm" class="cursor-outbound">Canadian help?</a>
      </small>
      <div *ngIf="validation_messages?.state">
        <div
          *ngFor="let errorMessage of validation_messages.state | keyvalue"
          class="alert alert-danger"
        >
          {{ errorMessage.value }}
        </div>
      </div>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-7">
      <label class="badge badge-secondary etreedb-textareatools-badge" for="set1">Set 1</label>
      <textarea
        id="set1"
        appAutosize
        appTextareaTools
        formControlName="set1"
        class="form-control"
      ></textarea>
      <small id="titleHelp" class="form-text text-muted">
        Song titles only, Initial Caps please, no track numbers or timings.  CD tracks like 'Banter', 'Crowd' and 'Intro' are not songs, either.
      </small>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-7">
      <label class="badge badge-secondary etreedb-textareatools-badge" for="set2">Set 2</label>
      <textarea
        id="set2"
        appAutosize
        appTextareaTools
        formControlName="set2"
        class="form-control"
      ></textarea>
      <small id="titleHelp" class="form-text text-muted">
        Song titles only, Initial Caps please, no track numbers or timings.  CD tracks like 'Banter', 'Crowd' and 'Intro' are not songs, either.
      </small>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-7">
      <label class="badge badge-secondary etreedb-textareatools-badge" for="set3">Set 3</label>
      <textarea
        id="set3"
        appAutosize
        appTextareaTools
        formControlName="set3"
        class="form-control"
      ></textarea>
      <small id="titleHelp" class="form-text text-muted">
        Song titles only, Initial Caps please, no track numbers or timings.  CD tracks like 'Banter', 'Crowd' and 'Intro' are not songs, either.
      </small>
    </div>
  </div>
  <div class="row etreedb-form-row-padding">
    <div class="col-md-7">
      <label class="badge badge-secondary etreedb-textareatools-badge" for="description">Description / comment</label>
      <textarea
        appAutosize
        appTextareaTools
        id="description"
        formControlName="description"
        class="form-control"
      ></textarea>
      <small id="descriptionHelp" class="form-text text-muted">
          Please use this space for notes about the PERFORMANCE, e.g., musicians' names, special guests, historical notes or comments, clarification about the date, etc.
      </small>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-outline-primary"
  >Create Performance</button>
</form>
</div>