<h1>
  Create New Performance for {{ artist.name }}
</h1>

<div class="badge badge-danger">Please . . . .</div>
<ul>
  <li>You are entering GENERIC data for everyone to use</li>
  <li>Specifics about your recording go in the 'Notes' on your list</li>
  <li>No mic or recording info here</li>
  <li>Do not list track numbers or timings</li>
  <li>Use Initial Capitals For Just About Everything</li>
  <li>Historical info and cross-references welcome</li>
  <li>If you make a mistake or need help 
    <a href="mailto:contact@etreedb.org">email us</a>
    the problem and performance id #.
  </li>
</ul>
