<h1>
  {{ user.name }} ({{ user.username }})
</h1>

Thanks for using etreedb.org.  Here you'll find the tools to manage your account 
as well as links to the data you've provided.


<!-- Performance Table -->
<div class="row">
    <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
        (click)="togglePerformance = ! togglePerformance"
      >
        Performances You Entered
      </div>
      <app-performance-table *ngIf="togglePerformance" [halLink]="user._embedded.performance._links.self"></app-performance-table>
    </div>
  </div>

  
<!-- Sources Table -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary cursor-clickable" 
      (click)="toggleSource = ! toggleSource"
    >
      Sources You Entered
    </div>
  <app-source-table *ngIf="toggleSource" [halLink]="user._embedded.source._links.self"></app-source-table>
  </div>
</div>

<!-- Source Comments -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleSourceComment = ! toggleSourceComment"
    >
      Your Source Comments
    </div>
    <app-source-comment-table *ngIf="toggleSourceComment" [halLink]="user._embedded.sourceComment._links.self"></app-source-comment-table>
    </div>
</div>

<!-- Family -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleFamily = ! toggleFamily"
    >
        Your Trading Family
      </div>
      <app-family-table *ngIf="toggleFamily" [halLink]="user._embedded.userFamily._links.self"></app-family-table>
    </div>
</div>

<!-- Family -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleFamilyExtended = ! toggleFamilyExtended"
    >
        Your Extended Trading Family
      </div>
      <app-family-extended-table *ngIf="toggleFamilyExtended" [halLink]="user._embedded.userFamilyExtended._links.self"></app-family-extended-table>
    </div>
</div>
