<h1>
  {{ user.name }} ({{ user.username }})
</h1>

Thanks for using etreedb.org.  Here you'll find the tools to manage your account 
as well as links to the data you've provided.

<!-- User Performance -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleUserPerformancePost = ! toggleUserPerformancePost"
    >
        Your Performances which you own
      </div>
      <app-user-performance-table *ngIf="toggleUserPerformancePost" [halLink]="user._embedded.userPerformance._links.self"></app-user-performance-table>
    </div>
</div>
  

<!-- Performance Table -->
<div class="row">
    <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
        (click)="togglePerformance = ! togglePerformance"
      >
        Performances You Entered
      </div>
      <app-performance-table *ngIf="togglePerformance" [halLink]="user._embedded.performance._links.self"></app-performance-table>
    </div>
  </div>

  
<!-- Sources Table -->
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary cursor-clickable" 
      (click)="toggleSource = ! toggleSource"
    >
      Sources You Entered
    </div>
  <app-source-table *ngIf="toggleSource" [halLink]="user._embedded.source._links.self"></app-source-table>
  </div>
</div>

<!-- Source Comments -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleSourceComment = ! toggleSourceComment"
    >
      Your Source Comments
    </div>
    <app-source-comment-table *ngIf="toggleSourceComment" [halLink]="user._embedded.sourceComment._links.self"></app-source-comment-table>
    </div>
</div>

<!-- Family -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleFamily = ! toggleFamily"
    >
        Your Trading Family
      </div>
      <app-family-table *ngIf="toggleFamily" [halLink]="user._embedded.userFamily._links.self"></app-family-table>
    </div>
</div>

<!-- Family -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleFamilyExtended = ! toggleFamilyExtended"
    >
        Your Extended Trading Family
      </div>
      <app-family-extended-table *ngIf="toggleFamilyExtended" [halLink]="user._embedded.userFamilyExtended._links.self"></app-family-extended-table>
    </div>
</div>

<!-- User Feedback -->
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary cursor-clickable"
        (click)="toggleUserFeedback = ! toggleUserFeedback"
      >
          Feedback from others about you
        </div>
        <app-user-feedback-table *ngIf="toggleUserFeedback" [halLink]="user._embedded.userFeedback._links.self"></app-user-feedback-table>
      </div>
  </div>
  
<!-- User Feedback Post -->
<div class="row">
  <div class="col-md-12">
      <div class="alert alert-primary cursor-clickable"
      (click)="toggleUserFeedbackPost = ! toggleUserFeedbackPost"
    >
        Feedback you have posted about others
      </div>
      <app-user-feedback-table *ngIf="toggleUserFeedbackPost" [halLink]="user._embedded.userFeedbackPost._links.self"></app-user-feedback-table>
    </div>
</div>
